<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="sidePanelAbierto bounceIn bg-light" id="sidenavPanel" mode="side"
              [opened]='sidenavAbierta'>
    <div class="mx-auto">
      <div class="container text-center d-block">
        <!--<img src="../../../assets/DefaultProfilePhotos/defaultMasculino.png" alt="Avatar" class="mx-auto avatar mt-4">-->
        <object data="../../../assets/SVG/logo-comida.svg" type="image/svg+xml" class="mx-auto avatar mt-2"></object>
        <div class="text-secondary mt-2">
          Edycar Reyes
        </div>
      </div>
    </div>
    <mat-list class="pt-2 text-center align-middle">
      <a matTooltip="Inventario" class="onHover mx-auto" mat-list-item style="text-decoration: none;"
         (click)="navegar('home')">
        <i matListIcon class="mx-auto fas fa-boxes text-secondary"></i>
        <h3 matLine class="text-secondary"> Inventario </h3>
      </a>
      <a matTooltip="Login" class="onHover mx-auto" mat-list-item style="text-decoration: none;"
         (click)="navegar('')">
        <i matListIcon class="mx-auto fas fa-user text-secondary"></i>
        <h3 matLine class="text-secondary"> Login </h3>
      </a>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content class="example-sidenav-content">
    <app-navbar *ngIf="servicio.mostrarNavbar"></app-navbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
