.login-page {
  background-color: #f2f7fe;
  overflow: hidden;

  #hero-technology {
    text-align: center;
    background-size: cover;
    background: url('../../../assets/SVG/backgroundLoginFireBucket.svg') center;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  button {
    font-size: 0.8rem;
  }
}
