<div class="login-page">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
      <!--<object style="max-height: 100vh;" data="../../../assets/SVG/backgroundLoginFireBucket.svg" type="image/svg+xml"></object>-->
      <object style="max-height: 100vh;" data="../../../assets/SVG/backgroundLoginFireBucketMan.svg" type="image/svg+xml"></object>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6 d-flex justify-content-center align-items-center">
      <form class="example-form">
        <div class="container-fluid d-flex align-items-center justify-content-center">
          <div class="display-3 text-dark mb-5">
            ¡Bienvenido!
          </div>
        </div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" [formControl]="loginEmailFormControl">
          <mat-error *ngIf="loginEmailFormControl.hasError('email') && !loginEmailFormControl.hasError('required')">
            Por favor ingrese un Email válido.
          </mat-error>
          <mat-error *ngIf="loginEmailFormControl.hasError('required')">
            Este campo es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="Contraseña" [formControl]="loginPasswordFormControl">
          <mat-error *ngIf="loginPasswordFormControl.hasError('required')">
            Este Campo es <strong>requerido.</strong>
          </mat-error>
        </mat-form-field>
        <div class="container-fluid d-flex align-items-center mt-4">
          <button (click)="login()" type="submit" class="btn btn-danger text-light mx-auto">Iniciar Sesión</button>
        </div>
      </form>
    </div>
  </div>
</div>
