/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  border: none;
}

.cdk-focused, cdk-mouse-focused {
  border: none;
}

::-webkit-scrollbar {
  -webkit-appearance: none
}

::-webkit-scrollbar:vertical {
  /*width: 8px*/
  display: none;
}

::-webkit-scrollbar:horizontal {
  height: 10px
}

button:focus {
  outline: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--black-transparent-20, rgba(0, 0, 0, 0.2));
  -webkit-border-radius: 4px;
  border-radius: 4px
}

mat-dialog-container{
  border-radius: 1rem !important;
}

mat-drawer{
  border-style: none !important;
}

